@using HelperMethods.Infrastructure
@model string

@{
    Layout = null;
}
@* helper method for foreach *@
@helper ListArrayItems(string[] items)
{
    foreach (string str in items)
    {
        <b>@str </b>
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

<p>
    This is the content from the view:
</p>
<div style="border: thin solid black; padding: 10px">
    Here is the message:
    <p>@Model</p>
</div>
    
<p>this is the content from the helper method:</p>
<div style="border: thin solid black; padding: 10px;">
    @Html.DisplayMessage(Model)
</div>
    <div>
    Here are the fruits: @ListArrayItems(ViewBag.Fruits)
</div>
<div>
    Here are the cities: @ListArrayItems(ViewBag.Cities)
</div>
<div>
    Here is the message:
    <p>@Model</p>
</div>
</body>
</html>